
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;600;700&family=Patrick+Hand+SC&display=swap');


body {
    background-color: #396E94;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #011936;
    color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}


h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}

nav {
    background-color: #F99D4D;
    color: #011936;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #011936;
    text-decoration: none;
    padding: 35px;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 1.2em;
}

nav a:hover {
    background-color: white;
    color: #011936;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}

.home-title {
    color: white;
    font-family: 'Patrick Hand SC', 'Rock Salt', 'Bradley Hand';
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;

}
#hero-msg h1, h4 {
    text-align: center;
    color: white;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

.book, .join, .top {
    background-color: #F99D4D;
    color: #011936;
    text-decoration: none;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color: #011936;

}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #011936;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 300px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
    font-family: 'Patrick Hand SC';
}

#background {
    width: 100%;
    height: 800px;
    background-color: #adfcf9;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-top: -75px;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: white;
    font-family: 'Patrick Hand SC';
}
.msg p {
    color: white;
    font-family: 'Josefin Slab';
    font-weight: 500;
    padding-bottom: 15px;

}
.msg {
    background-color: #011936;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #F99D4D;
    color: #011936;
    font-size: 1.2em;
    padding: 25px 50px;
    font-family: 'Patrick Hand SC';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #011936;
    text-decoration: none;
    font-family: 'Josefin Slab';
    font-weight: 700;
}

footer a:hover {
    background-color: white;
    color: #011936;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


/* begin FAQ page css */
h1 {
    font-family: 'Patrick Hand SC';
}
h3 {
    font-family: 'Patrick Hand SC';
}
#right-bar h5 {
    font-family: 'Josefin Slab';
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
}
p {
    font-family: 'Josefin Slab';
    font-weight: 500;
}
#faq-grid {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}
#left-questions {
    background-color: #F99D4D;
    max-width: 300px;
    grid-column: 1/2;
    padding: 20px;
    font-family: 'Josefin Slab';
    position: fixed;
    left: 20;
    top: 25%;
}
#left-questions a {
    color: #011936;
}
#left-questions a:hover {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#right-bar input[type=text] {

    padding: 6px;
    float: left;
    font-family: 'Josefin Slab';
    font-size: 1em;
    background-color: white;
    border: none;
    width: 60%;
}
button {
    font-family: 'Josefin Slab';
    font-size: 1em;
    align-self: center;
    text-align: center;
    margin-top: 2px;
    margin-left: 5px;


}

.top {
    position: fixed;
    left: 150px;
    top: 600px;
    border: 1px solid #011936;
}
#full-questions {
    font-family: 'Josefin Slab';
    background-color: #011936;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    grid-column: 2/3;
}
#right-bar {
    text-align: right;
    position: fixed;
    right: 10px;
    top: 25%;
}
#right-bar img {
    max-width: 360px;
    border: 2px solid #F99D4D;
}
form {
    background-color: #F99D4D;
    padding: 10px;
}
@media screen and (max-width: 1400px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    /* begin FAQ page css */
    #faq-grid {
        display: block;
        width: 100%;
        align-content: center;
    }
    .back-to-top {
        text-align: center;
    }
    #left-questions {
        position: static;
        max-width: 100%;
    }


    #full-questions {
        position: static;
    }
    #right-bar {
        text-align: center;
        position: static;


    }
    .top {
        position: fixed;
        text-align: center;
        top: 90%;
        left: auto;
        height: 20px;
    }
    #search {
        align-content: center;
        width: 100%;
        position: fixed;
        top: 0%;
    }
}