@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Cinzel+Decorative&family=Quicksand:wght@300;400;600&display=swap');


body {

    background-image: url("../images/kobo\ background.png");
    background-color: #2D2327;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;

}

.page-grid {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr;

}
header {
    grid-column: 1/2;
    grid-row: 1/2;
    top: 0;
    left: 5px;
    padding: 5px;
    height: 100%;
}
.logo-link {
    max-width: 110px;
}
.logo-link img {
    max-width: 110px;
    /* margin-top: 10px; */
}

.side-nav {
    padding-top: 5px;
    padding-left: 5px;
    height: 100%;
    width: 105px;
    background-color: #2D2327;
    font-family: 'Quicksand';

}
.side-nav a {
    color: #D7D6D6;
    margin-top: 100px;
}

.side-nav a:hover {
    width: 100px;
    color: #C6F91F;
}
form {
    color: #C6F91F;
}

#search input{
    max-width: 95px;
    font-family: 'Quicksand';

}

#newsletter input{
    max-width: 95px;
    font-family: 'Quicksand';

}

.socials a:hover {

    border: none;
}

.social-icon {
    border-radius: 50px;
    max-width: 40px;
    margin-top: 20px;
    padding: 2px;
}

.social-icon:hover {
    border: 1px solid #C6F91F;
}

h1 {
    background-color: #D7D6D6;
    font-family: 'Autour One';
    font-size: 1.5em;
    color: #2D2327;
}

.hero-section {
    grid-column: 2/3;
    grid-row: 1/2;
}

.favorites-grid {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: 50px 1fr 50px 1fr;
}

#hero-imgs {
    max-width: 800px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 350px;

    margin-top: -16px;
    font-family: 'Quicksand';
}
#hero-imgs img {
    max-width: 200px;
    border: 2px solid #C6F91F;
}

#hero-imgs img:hover {
    -webkit-filter: blur(4.5px);
    filter: blur(4.5px);
}

main {
    margin-left: 25px;
    background-color: #D7D6D6;
    opacity: 75%;
    margin-top: 100px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.big-p-1, .big-p-2 {

    padding: 5px;
    margin-top: -15px;
    height: auto;
}

.big-p-1 {
    grid-row: 1/2;
}

.big-p-2 {
    grid-row: 2/3;
}
.about-pic {
    opacity: 100%;
    float: right;
    margin: 5px;
}

.bio-pic {
    height: 300px;
    float: right;
    margin: 5px;
}

/* main section, hero imgs */
#marriage-link {
    grid-column: 1/2;
    grid-row: 1/2;
}

#marriage-text {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    max-width: 200px;
    z-index: 2;
    margin-top: 200px;
    text-align: right;
}

#career-link {
    grid-column: 2/3;
    grid-row: 1/2;
}

#career-text {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    z-index: 2;
    margin-top: 200px;
    max-width: 200px;
    text-align: right;
    
}

#mind-link {
    grid-column: 3/4;
    grid-row: 1/2;
}

#mind-text {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    z-index: 2;
    margin-top: 200px;
    max-width: 200px;
    text-align: right;
}

.reg-p {
    font-family: 'Quicksand';
    padding-left: 10px;

    margin-top: -50px;
    background-color: #2D2327;
    color: #D7D6D6;
    max-width: 800px;
}
h4 {
    font-family: 'Quicksand';
    font-weight: 700;
}

.title-heart {
    grid-column: 1/5;
    grid-row: 1;
}

.title-jerk {
    grid-column: 1/5;
    grid-row: 3;
}

.title-heart, .title-jerk {
    margin-top: -5px;
    padding: 3px;
}

.container-heart {
    position: relative;
    grid-row: 2;
    grid-column: 1/2;
    max-width: 200px;
    padding: 3px;
}

.info-heart {
    margin-top: -10px;
    grid-row: 2;
    grid-column: 2/5;
    padding: 5px;
}

.info-jerk {
    margin-top: -10px;
    grid-row: 4;
    grid-column: 1/4;
    padding: 5px;
}

.container-jerk {
    position: relative;
    padding: 3px;
    max-width: 200px;
}

.cover-art {
    /* margin-top: 29px; */
    opacity: 1;
    /* display: block; */
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    padding: 3px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
}

.container-heart:hover .cover-art {
    opacity: 0.3;
  }
  
  .container-heart:hover .middle {
    opacity: 1;
  }
  .container-jerk:hover .cover-art {
    opacity: 0.3;
  }
  
  .container-jerk:hover .middle {
    opacity: 1;
  }

  
  .text {

    background-color: #C6F91F;
    color: #2D2327;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Quicksand';
  }

p {
    font-family: 'Quicksand';
}

footer {
    background-color: #2D2327;
    color: #D7D6D6;
    font-size: 1.2em;
    padding: 25px 50px;
    font-family: 'Quicksand';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
}

footer a {
    color: #D7D6D6;
    text-decoration: none;
    font-family: 'Quicksand';

}

footer a:hover {

    color: #C6F91F;
    text-decoration: underline;
}