@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Cinzel+Decorative&family=Quicksand:wght@300;400;600&display=swap');


body {

    background-image: url("../images/kobo\ background.png");
    background-color: #2D2327;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;

}

.page-grid {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr;

}
header {
    grid-column: 1/2;
    grid-row: 1/2;
    top: 0;
    left: 5px;
    padding: 5px;
    height: 100%;
}
.logo-link {
    max-width: 110px;
}
.logo-link img {
    max-width: 110px;
    /* margin-top: 10px; */
}

.side-nav {
    padding-top: 5px;
    padding-left: 5px;
    height: 100%;
    width: 105px;
    background-color: #2D2327;
    font-family: 'Quicksand';

}
.side-nav a {
    color: #D7D6D6;
    margin-top: 100px;
}

.side-nav a:hover {
    width: 100px;
    color: #C6F91F;
}
form {
    color: #C6F91F;
}

#search input{
    max-width: 95px;
    font-family: 'Quicksand';

}

#newsletter input{
    max-width: 95px;
    font-family: 'Quicksand';

}

.socials a:hover {

    border: none;
}

.social-icon {
    border-radius: 50px;
    max-width: 40px;
    margin-top: 20px;
    padding: 2px;
}

.social-icon:hover {
    border: 1px solid #C6F91F;
}

h1 {
    background-color: #D7D6D6;
    font-family: 'Autour One';
    font-size: 1.5em;
    color: #2D2327;
}

.hero-section {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 90px;
}

#hero-imgs {
    max-width: 800px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 350px;

    margin-top: -16px;
    font-family: 'Quicksand';
}
#hero-imgs img {
    max-width: 200px;
    border: 2px solid #C6F91F;
}

#hero-imgs img:hover {
    -webkit-filter: blur(4.5px);
    filter: blur(4.5px);
}

main {
    margin-left: 25px;
}
.big-p {
    background-color: #D7D6D6;
    opacity: 75%;
    padding: 5px;
    margin-top: -15px;
    height: auto;
}

.about-pic {
    opacity: 100%;
    float: right;
    margin: 5px;
}

.bio-pic {
    height: 300px;
    float: right;
    margin: 5px;
}

/* main section, hero imgs */
#marriage-link {
    grid-column: 1/2;
    grid-row: 1/2;
}

#marriage-text {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    max-width: 200px;
    z-index: 2;
    margin-top: 200px;
    text-align: right;
}

#career-link {
    grid-column: 2/3;
    grid-row: 1/2;
}

#career-text {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    z-index: 2;
    margin-top: 200px;
    max-width: 200px;
    text-align: right;
    
}

#mind-link {
    grid-column: 3/4;
    grid-row: 1/2;
}

#mind-text {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #C6F91F;
    max-height: 20px;
    z-index: 2;
    margin-top: 200px;
    max-width: 200px;
    text-align: right;
}

.reg-p {
    font-family: 'Quicksand';
    padding-left: 10px;

    margin-top: -50px;
    background-color: #2D2327;
    color: #D7D6D6;
    max-width: 800px;
}
h4 {
    font-family: 'Quicksand';
    font-weight: 700;
}
.atlas-pic {
    max-height: 300px;
    float: right;
    margin: 5px;
}
.jerk-pic {
    max-height: 300px;
    float: left;
    margin: 5px;
}
p {
    font-family: 'Quicksand';
}

footer {
    background-color: #2D2327;
    color: #D7D6D6;
    font-size: 1.2em;
    padding: 25px 50px;
    font-family: 'Quicksand';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
}

footer a {
    color: #D7D6D6;
    text-decoration: none;
    font-family: 'Quicksand';

}

footer a:hover {

    color: #C6F91F;
    text-decoration: underline;
}