body{
    text-align: center;
    background-color: pink;
    color: white;
    width: 25%;
    margin: 20px auto;
}
h1{
    font-family: sans-serif;
}
h1:hover {
    color: black;
}
p {

    margin: 20px auto;
}
img {
    margin: 20px auto;
    width: 25%;
}
.sans {
    font-family: sans-serif;
    font-weight: bold;

}
.quote {
    font-size: 2em;
    width: 60%;
}
.attribution {
    font-family: sans-serif;
    color: black;
    width: 80%;
    font-weight: bold;
    
}
ol {
    margin: 0 auto;
    text-align: left;
    font-family: sans-serif;
    color: black;
    font-weight: bold;

}
